[project]
name = "treestamps"
requires-python = ">=3.10"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "treestamps"
version = "1.0.2"
description = "Create timestamp records for recursive operations on directory trees."
authors = ["AJ Slater <aj@slater.net>"]
license = "GPL-3.0-only"
readme = "README.md"
homepage = "https://github.com/ajslater/treestamps"
documentation = "https://github.com/ajslater/treestamps"
keywords = ["timestamps", "library", "recursive", "directory"]
classifiers = [
  "Environment :: Console",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Development Status :: 5 - Production/Stable",
  "Programming Language :: Python :: 3 :: Only",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
packages = [{ include = "treestamps" }, { include = "tests", format = "sdist" }]
include = ["NEWS.md"]

[tool.poetry.dependencies]
python = "^3.10"
"ruamel.yaml" = "^0.18.5"
termcolor = "^2.0.1"

[tool.poetry.group.dev.dependencies]
codespell = "^2.1.0"
coverage = { extras = ["toml"], version = "^7.0" }
neovim = "^0.3.1"
pyright = "^1.1.237"
pytest-cov = "^5.0.0"
pytest-gitignore = "^1.3"
radon = { version = "^6.0.1", extras = ["toml"] }
ruff = "^0.5.4"
vulture = "^2.1"

[tool.poetry.urls]
"Source" = "https://github.com/ajslater/treestamps"
"Issues" = "https://github.com/ajslater/treestamps/issues"

[tool.codespell]
skip = ".git,.mypy_cache,.pytest_cache,.ruff_cache,.venv,*~,./dist,./node_modules,./package-lock.json,./poetry.lock,./test-results"
builtin = "clear,rare,code"
check-hidden = true
ignore-words-list = "thead"

[tool.coverage.run]
source = ["treestamps"]
branch = true
concurrency = ["multiprocessing"]
omit = [
  ".git/*",
  ".mypy_cache/*",
  ".pytest_cache/*",
  ".ruff_cache/*",
  ".venv/*",
  "*__pycache__*",
  "dist/*",
  "node_modules/*",
  "test-results/*",
  "typings/*",
]

[tool.coverage.html]
directory = "test-results/coverage"

[tool.pytest.ini_options]
addopts = """
  --junitxml=test-results/pytest/junit.xml
  -ra
  --strict-markers
  --cov
  --cov-append
  --cov-report=html
  --cov-report=term
"""
junit_family = "xunit2"
testpaths = "tests"

[tool.pyright]
exclude = [
  "**/__pycache__",
  "**/node_modules",
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".ruff_cache",
  ".venv",
  "dist",
  "package-lock.json",
  "poetry.lock",
  "test-results",
  "treestamps/__init__.py",
  "typings",
  "vulture_whitelist.py",
]
pythonVersion = "3.10"
pythonPlatform = "All"
reportImportCycles = true
reportMissingImports = true
useLibraryCodeForTypes = true

[tool.radon]
exclude = "*~,.git/*,.mypy_cache/*,.pytest_cache/*,.ruff_cache/*,.venv/*,__pycache__/*,dist/*,node_modules/*,test-results/*,typings/*"

[tool.ruff]
extend-exclude = ["cache", "typings"]
target-version = "py310"

[tool.ruff.lint]
extend-ignore = [
  "S101",
  "D203",
  "D213",
  # Format ignores
  "W191",
  "E501",
  "E111",
  "E114",
  "E117",
  "D206",
  "D300",
  "Q000",
  "Q001",
  "Q002",
  "Q003",
  "COM812",
  "COM819",
  "ISC001",
  "ISC002",
]
extend-select = [
  "A",
  "ARG",
  "B",
  "B9",
  "C",
  "C4",
  "C90",
  "D",
  "DJ",
  "DTZ",
  "E",
  "EM",
  "EXE",
  "F",
  "I",
  "ICN",
  "INP",
  "ISC",
  "PIE",
  "PL",
  "PT",
  "PTH",
  "PYI",
  "Q",
  "N",
  "RET",
  "RSE",
  "RUF",
  "S",
  "SIM",
  "SLF",
  "T10",
  "T20",
  "TCH",
  "TID",
  "TRY",
  "UP",
  "W",
  "YTT",
  # "ANN", "ERA", "COM"
]
external = ["V101"]
task-tags = ["TODO", "FIXME", "XXX", "http", "HACK"]

[tool.ruff.lint.per-file-ignores]
"test_*" = ["SLF001", "T201"]
"treestamps/__init__.py" = ["F401"]

[tool.ruff.lint.pycodestyle]
ignore-overlong-task-comments = true

[tool.vulture]
exclude = [
  ".git/",
  ".mypy_cache/",
  ".pytest_cache",
  ".ruff_cache",
  ".venv",
  "*__pycache__*",
  "dist/",
  "node_modules",
  "test-results",
  "typings",
  "treestamps/__init__.py",
]
min_confidence = 61
sort_by_size = true
